.App {
}

.App h1 {
  padding: 0 10%;
}

.Container {
  display: flex;
  padding: 0 10%;
}

.Editor {
  width: 100%;
}

.EditorOptions {
  position: sticky;
  margin: 0 0 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.EditorOptions button {
  margin: 0 5px 0 0;
}

.EditorContent {
  width: 100%;
  box-sizing: border-box;
  min-height: 50vh;
  max-height: 80vh;
  overflow: auto;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  text-align: left;
}

.Assistant-Loading {
  width: 250px;
  margin: 0 0 0 1em;
  padding: 1em 1.2em;
  font-size: 12px;
  font-style: italic;
}

.Assistant {
  position: sticky;
  width: 250px;
  margin: 0 0 0 1em;
  padding: 1em 1.2em;
  background: #eee;
  border-radius: 3px;
}

.Assistant p {
  margin: 0 0 1em;
}

.Assistant ol {
  padding: 0 0 0 2.4em;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-family: monospace;
}

.Assistant li {
  margin: 0 0 0.5em;
}
